In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
wine = pd.read_csv("wine.csv")

In [ ]:
wine.shape

(27, 7)

In [ ]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         27 non-null     int64
 1   Price        27 non-null     float64
 2   WinterRain   27 non-null     int64
 3   AGST         27 non-null     float64
 4   HarvestRain  27 non-null     int64
 5   Age          27 non-null     int64
 6   FrancePop    27 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 1.6 KB

In [ ]:
wine.describe()

              Year      Price  WinterRain  ...  HarvestRain        Age     FrancePop
count    27.000000  27.000000   27.000000  ...    27.000000  27.000000     27.000000
mean   1966.814815   7.041948  608.407407  ...   144.814815  16.185185  50085.443963
std       8.246384   0.634590  129.034956  ...    73.065849   8.246384   3792.998764
min    1952.000000   6.204900  376.000000  ...    38.000000   3.000000  43183.569000
25%    1960.500000   6.508350  543.500000  ...    88.000000   9.500000  46856.000000
50%    1967.000000   6.984500  600.000000  ...   123.000000  16.000000  50650.406000
75%    1973.500000   7.441500  705.500000  ...   185.500000  22.500000  53511.207500
max    1980.000000   8.493700  830.000000  ...   292.000000  31.000000  55110.236000

[8 rows x 7 columns]

In [ ]:
wine.head()

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1952  7.4950         600  17.1167          160   31  43183.569
1  1953  8.0393         690  16.7333           80   30  43495.030
2  1955  7.6858         502  17.1500          130   28  44217.857
3  1957  6.9845         420  16.1333          110   26  45152.252
4  1958  6.7772         582  16.4167          187   25  45653.805

In [ ]:
model1 = LinearRegression()

In [ ]:
AGST = wine.AGST.values.reshape((-1, 1)) # x-value
Price = wine.Price.values # y-value

In [ ]:
model1.fit(AGST, Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
intercept = model1.intercept_
slope = model1.coef_

In [ ]:
model1.score(AGST, Price)

0.4455894017093736

In [ ]:
print(intercept)
print(slope)

-3.5469092693613256
[0.64261426]

In [ ]:
wine_test = pd.read_csv("wine_test.csv")

In [ ]:
X_test = wine_test.AGST.values.reshape((-1, 1))

In [ ]:
y_pred = model1.predict(X_test)

In [ ]:
print(y_pred)

[6.84204275 6.73491895]

In [ ]:
wine_test.head()

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1979  6.9541         717  16.1667          122    4  54835.832
1  1980  6.4979         578  16.0000           74    3  55110.236

In [ ]:
Y_target = wine_test.Price.values

In [ ]:
print(np.sqrt(metrics.mean_squared_error(Y_target, y_pred)))

0.18538448048674194